<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/clearHistory.js"></script>
    <title>Expedia Link History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Hotel Search</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li class="active"><a href="/favorites">Favorite Hotels</a></li>
            <li class="active"><a href="/history">Link History</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/home"><span class="glyphicon glyphicon-user"></span> Hello $username!</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <form class="text-center">
        <button type="button" class="btn btn-danger" onclick="clearHistory()">Clear History</button>
    </form>

    <h4 class="text-center">Expedia Link History:</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Link</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody id="tableBody">
        #foreach($link in $links)
            <tr>
                <td><a href="$link.link"> $link.link</a></td>
                <td>$link.date</td>
                <td>$link.time</td>
            </tr>
        #end
        </tbody>
    </table>
</div>

</body>

</html>
