<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <title>Login Required</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Hotel Search</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li class="active"><a href="/favorites">Favorite Hotels</a></li>
      <li class="active"><a href="/history">Link History</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <h1>Login Required</h1>
  <p>You must be logged in to view this page.</p>
</div>

<section>
  <h5>Please either log in or return to the home page.</h5>
  <div class="btn-container">
    <a href="/login" class="btn btn-primary">Log In</a>
    <a href="/home" class="btn btn-default">Return to Home</a>
  </div>
</section>
</body>

</html>